* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #7c7c7c;
}

nav {
    display:flex;
    align-items: flex-end;
    background-color: rgb(82, 82, 82);
    height: 70px;
    justify-content: space-between;
}

nav ul li {
    display:inline-block;
    font-size: 30px;
    margin-right: 20px; 
}

/* .links {
    color:black
} */

a:link {
    color: black;
}

h1.navbar {
    font-size: 55px;
}


figure img {
    width: 100%;
    margin-bottom: 20px;
}